<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon_mineItem_balance</string>
			<key>title</key>
			<string>余额</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_mineItem_task</string>
			<key>title</key>
			<string>做任务领红包</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_mineItem_message</string>
			<key>title</key>
			<string>我的消息</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon_mineItem_comment</string>
			<key>title</key>
			<string>精彩书评</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_mineItem_note</string>
			<key>title</key>
			<string>笔记</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_mineItem_set</string>
			<key>title</key>
			<string>设置</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_mineItem_share</string>
			<key>title</key>
			<string>已购和上传</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_mineItem_service</string>
			<key>title</key>
			<string>在线客服</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_mineItem_mall</string>
			<key>title</key>
			<string>积分商城</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_mineItem_flow</string>
			<key>title</key>
			<string>在线看书免流量</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_mineItem_man</string>
			<key>title</key>
			<string>看漫画</string>
		</dict>
	</array>
</array>
</plist>
